<table id="bookList" class="table table-striped">
  <thead>
  <th>S.No.</th>
  <th>Name</th>
  <th>Author</th>
  {{#each additionalFields as |field|}}
    <th>{{field.header}}</th>
  {{/each}}
  </thead>
  <tbody>
  {{#each books as |book index|}}
    <tr>
      <td>{{increment index}}</td>
      <td>{{book.name}}</td>
      <td>{{book.author}}</td>
      {{#each additionalFields as |field|}}
        <td>{{get-property book field.value}}</td>
      {{/each}}
      {{#if button}}
        <td><button class="btn btn-info" id={{button.id}} onclick={{action buttonAction book.id}}>{{button.text}}</button></td>
      {{/if}}
    </tr>
  {{/each}}
  </tbody>
</table>